#navbar {
    background: #34e89e;

    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  
    background: linear-gradient(to right, #156e18, #34e89e);
   

    height: 125px;
}

.item-nav {
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}