
footer {
    bottom : 0; 
    background: #34e89e;
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    background: linear-gradient(to right, #156e18, #34e89e);
    height: 125px;
    color: white;
}






